@keyframes reveal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeaway {
    0% {
      opacity: 1;
      
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes reveal-popup {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    75% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1)
    }
  }
  
  @keyframes fadeaway-popout {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    25% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(0)
    }
  }
  
  @keyframes slidein {
    0% {
      margin-right: 800px;
    }
    100% {
      margin-left: 0px;
    }
  }