.section-text {
  color: rgba(255, 255, 255, 0.753);
  font-family: Roboto, Roboto-light;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 300;
}

.reveal-element-popup {
  opacity: 0%;
  animation: 0.5s linear reveal-popup forwards;
}

.fadeaway-element-popout {
  animation: 0.5s linear fadeaway-popout forwards;
}

@keyframes reaveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeaway {
  0% {
    opacity: 1;
    
  }
  100% {
    opacity: 0;
  }
}

@keyframes reveal-popup {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes fadeaway-popout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0)
  }
}

@keyframes slidein {
  0% {
    margin-right: 800px;
  }
  100% {
    margin-left: 0px;
  }
}
